<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621450909040-fop2g2gbqr4k5ualkntljdd0fuu3410t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621450909040-fop2g2gbqr4k5ualkntljdd0fuu3410t</string>
	<key>API_KEY</key>
	<string>AIzaSyCILcG2Hb3jRygSJ9WW09EVQxXDnaT5_9E</string>
	<key>GCM_SENDER_ID</key>
	<string>621450909040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leeminjae.Clay-new</string>
	<key>PROJECT_ID</key>
	<string>clay-d264e</string>
	<key>STORAGE_BUCKET</key>
	<string>clay-d264e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621450909040:ios:cd1bace6a73ecdbf5c6bb5</string>
</dict>
</plist>